﻿@model Space.Models.LoginViewModel

@{
    ViewBag.Title = @Resources.Content.Giris_yap;
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <br /><br />
        <h2>@ViewBag.Title</h2>
        <section id="loginForm">
            @using (Html.BeginForm("Giriş", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4>@Resources.Content.yerel</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Resources.Content.unutma
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input style="background-color:black; color:white;" type="submit" value=@Resources.Content.Giris_yap class="btn btn-default" />
                </div>
            </div>
            <p>
                @Resources.Content.hesap <b>@Html.ActionLink(@Resources.Content.Kayit_ol, "Register")</b> @Resources.Content.tik
            </p>
            }
        </section>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}