﻿
@model Space.Models.RegisterViewModel
@{
    ViewBag.Title = @Resources.Content.Kayit_ol;
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <br /><br />

        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("Kayıt Ol", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>@Resources.Content.yeni</h4>
            <hr />
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input style="background-color:black; color:white;" type="submit" class="btn btn-default" value=@Resources.Content.Kayit_ol />
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br />
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>