﻿@****************************************************************************
    **							      SAKARYA ÜNİVERSİTESİ
    **						BİLGİSAYAR VE BİLİŞİM BİLİMLERİ FAKÜLTESİ
    **							  BİLGİSAYAR MÜHENDİSLİĞİ BÖLÜMÜ
    **								Programlamaya Giriş Dersi
    **								   2016-2017 GÜZ DÖNEMİ
    **
    **						ÖDEV NUMARASI..........:  1
    **						ÖĞRENCİ ADI............:  Sertan BOŞLUK
    **						ÖĞRENCİ NUMARASI.......:  b151210121
    **						DERSİN ALINDIĞI GRUP...:  B
    ****************************************************************************@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Space Teknoloji</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Resources.Content.Space_teknoloji, "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Content.Anasayfa, "Index", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Content.Magazalarimiz, "Magaza", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Content.Yeni_urunler, "Yeni", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Content.Firsat_urunler, "Firsat", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Content.Lletisim, "Iletisim", "Home")</li>
                </ul>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="btn-group" role="group" aria-label="...">
                    <button style="padding:4px; background-color:red;"  type="button" class="btn btn-default"><a href="@Url.Action("Change", "Home", new { lang="tr"})" style="color: white;"><b>TR</b></a></button>
                    <button style="padding:4px; background-color:blue;" type="button" class="btn btn-default"><a href="@Url.Action("Change", "Home", new { lang="en"})" style="color: white;"><b>EN</b></a></button>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="btn-group-vertical col-md-2" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><b>ASUS</b></button>
        <button type="button" class="btn btn-default"><b>LENOVO</b></button>
        <button type="button" class="btn btn-default"><b>MSI</b></button>
        <button type="button" class="btn btn-default"><b>HP</b></button>
        <button type="button" class="btn btn-default"><b>APPLE</b></button>
        <button type="button" class="btn btn-default"><b>CASPER</b></button>
        <button type="button" class="btn btn-default"><b>ACER</b></button>
        <button type="button" class="btn btn-default"><b>TOSHIBA</b></button>
        <button type="button" class="btn btn-default"><b>SAMSUNG</b></button>
        <button type="button" class="btn btn-default"><b>DELL</b></button>
        <button type="button" class="btn btn-default"><b>SONY</b></button>
        <button type="button" class="btn btn-default"><b>PACKARD BELL</b></button>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-9 ">
                <p align="center"> &copy; @DateTime.Now.Day / @DateTime.Now.Month /@DateTime.Now.Year...<b>@Resources.Content.Space_teknoloji</b></p>
            </div>
            <div class="col-md-3">
                <script language="javascript" src="http://is.sitekodlari.com/paylas5.js"></script>


            </div>
        </footer>
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
