﻿@{
    ViewBag.Title = @Resources.Content.Lletisim;
}
<h2><b>@ViewBag.Title</b></h2>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <p>
            <h4>0850 222 56 56 - Space Teknoloji Telefon ile Sipariş Hattı</h4><br>

            Hafta içi ve hafta sonu saat 09:00 ile 22:00 arasında siz değerli müşterilerimize kaliteli ve kesintisiz destek vermektedir.<br><br>


            <h4>0850 222 56 56 – Space Teknoloji Çağrı Merkezi</h4><br>

            <b>Satış sonrası destek</b><br>
            Hafta içi saat 09.00 – 18.30, hafta sonu 09.00 - 16:00 (Pazar günü hariç) arasında siz değerli müşterilerimize kaliteli ve kesintisiz destek vermektedir. Arızalı ürünlerinizin durumu hakkında bilgi alabilirsiniz.<br><br>


            <b>İnternet Satış (İnternet siparişleriniz ile ilgili)</b><br>
            Hafta içi saat 09.00 – 18.30, hafta sonu 10.00 – 17.00 arasında siz değerli müşterilerimize kaliteli ve kesintisiz destek vermektedir. İnternet siparişlerinizin durumu hakkında bilgi alabilirsiniz.<br><br>


            İletişim formu için <b>@Html.ActionLink("tıklayınız", "Iletisim")</b>.<br><br>

            <h4>
                Kayıtlı Elektronik Posta (KEP) Adresimiz: spaceteknoloji@hs01.kep.tr<br>
                Mersis numarası: 0-6320-0360-720001<br>
                Kayıtlı Bulunduğumuz Meslek Kuruluşu: Sakarya Ticaret Odası (www.sto.org.tr)
            </h4><br>
        </p>
    </div>
</div>
