﻿                            @****************************************************************************
                            **							      SAKARYA ÜNİVERSİTESİ
                            **						BİLGİSAYAR VE BİLİŞİM BİLİMLERİ FAKÜLTESİ
                            **							  BİLGİSAYAR MÜHENDİSLİĞİ BÖLÜMÜ
                            **								Programlamaya Giriş Dersi
                            **								   2016-2017 GÜZ DÖNEMİ
                            **
                            **						ÖDEV NUMARASI..........:  1
                            **						ÖĞRENCİ ADI............:  Sertan BOŞLUK
                            **						ÖĞRENCİ NUMARASI.......:  b151210121
                            **						DERSİN ALINDIĞI GRUP...:  B
                            ****************************************************************************@

@{
    ViewBag.Title = "Anasayfa";
}
<div class="col-md-10"></div>
<div id="carousel-example-generic" class="carousel slide col-md-10" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/resimler/slide4.png" alt="slid1">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/resimler/slide5.png" alt="slid2">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/resimler/slide6.png" alt="slid3">
            <div class="carousel-caption">
            </div>
        </div>
    </div>


    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row">
    <div class="col-md-3">
        <h5><b>Casper G7070 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/1.png" alt="mg1"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>Lenovo G7070 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/2.png" alt="mg2"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>Asus 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/3.png" alt="mg3"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <h5><b>Casper G7070  Notebook</b></h5>
        <p>
            <img src="~/resimler/4.png" alt="mg4"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>Acer 1235 Notebook</b></h5>
        <p>
            <img src="~/resimler/5.png" alt="mg5"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>Asus G7070 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/6.png" alt="mg6"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <h5><b>Lenovo Notebook</b></h5>
        <p>
            <img src="~/resimler/7.png" alt="mg7"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>MSI 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/8.png" alt="mg8"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>Apple 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/9.png" alt="mg9"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        </div>
        <div class="col-md-7">
            <nav>
                <ul class="pagination">

                    <li>@Html.ActionLink("<<", "Index", "Home")</li>
                    <li>@Html.ActionLink("1", "Index", "Home")</li>
                    <li>@Html.ActionLink("2", "Index", "Home")</li>
                    <li>@Html.ActionLink("3", "Index", "Home")</li>
                    <li>@Html.ActionLink("4", "Index", "Home")</li>
                    <li>@Html.ActionLink("5", "Index", "Home")</li>
                    <li>@Html.ActionLink(">>", "Index", "Home")</li>

                </ul>
            </nav>
        </div>
 </div>
