﻿
@{
    ViewBag.Title = "Magaza";
}
<div class="page-header">
    <h1><small>@Resources.Content.merkez&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Content.konum</small></h1>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">İstanbul</div>
            <div class="panel-body">
                <p>İstanbul/Bayrampaşa Cumhuriyet Mh. 5525.sk No:50</p>
            </div>
            <div class="panel-heading">Ankara</div>
            <div class="panel-body">
                <p>Ankara/Sincan Vatn Mh. 585.sk No:3</p>

            </div>
            <div class="panel-heading">İzmir</div>
            <div class="panel-body">
                <p>İzmir/Torbalı Şeker Mh. 217.sk No:8</p>

            </div>
            <div class="panel-heading">Sakarya</div>
            <div class="panel-body">
             <p>Sakarya/Adapazarı Pektemek Mh. 186.sk No:88</p>

            </div>
            <div class="panel-heading">Diğer İller...</div>
            </div>
        </div>
    <div class="col-md-4">
        <iframe src="https://www.google.com/maps/d/embed?mid=1F8o2KyI41Ax1WYt5mA8PBby1V3M" width="450" height="450" ></iframe>
        </div>
    </div>
