﻿
@{
    ViewBag.Title = @Resources.Content.ozel;
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-3"><img src="~/resimler/lenovo1.png" /></div>
    <div class="col-md-6"><br /><h3>Performans</h3> <br />
Üstün mobil performansı ZenBook'un ayırıcı özelliğidir. ZenBook UX310'da, bu özellik i7 işlemciye kadar 6. Nesil Intel® Core™'işlemcinin yanısıra 16 GB'a kadar DDR4 2133MHz RAM ve NVIDIA® GeForce® 940MX grafik kartıyla desteklenerek müthiş bir performans ortaya çıkıyor. En yeni çift-band 802.11ac Wi-Fi süper yüksek hız sağlıyor ve Bluetooth® 4.1 sizi aletlerinize kolaylıkla bağlıyor. Gerçek profesyoneller en son teknolojiyi talep ediyorlar ve çığır açıcı ters kullanılabilir USB Type C port en yeni ve yüksek performanslı çevre aygıtlarına çok hızlı erişmenizi sağlıyor. HDMI portuyla monitörlere, televizyonlara veya projektörlere zahmetsizce bağlayabiliyorsunuz. Kolayca gerçekleştirilen çoklu görevler, pürüzsüz video gösterimi ve hızlı program başlatma… Siz hazırsanız ZenBook UX310 çoktan hazır! Ayrıca son derece enerji verimli, bir başka deyişle, prizi daha az ziyaret ediyorsunuz!</div>
   </div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <br /><h3>    Gelişmiş Grafikler</h3> <br />
        ZenBook UX310'daki gibi olağanüstü bir ekran doğal olarak harika grafik kartını hak ediyor. Bu nedenle yüksek netlikte video oynatımı için NVIDIA® GeForce® 940MX grafik kartını seçtik.
    </div>
    <div class="col-md-4">
        <img src="~/resimler/lenovo2.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"><img src="~/resimler/lenovo4.png" /></div>
    <div class="col-md-5">
        <br /><h3>Muhteşem İdeal Renkler</h3> <br />
        Görüntüleri daima en iyi şekilde vermeyi amaçlayan ZenBook UX310, sahip olduğu ASUS Splendid teknolojisiyle daha zengin, daha derin ve daha doğru renkler sunuyor.

        ASUS Splendid, tek tıklamayla aktifleştirilebilen önceden ayarlanmış dört moda sahip: Normal mod, Göz Dostu modu, Canlı mod ve Manuel mod. Normal mod fabrika ayarlarını kullanmanızı sağlıyor. Göz Dostu modu rahat izleme olanağı yaratmak için mavi ışık düzeyini azaltıyor. Canlı modu ise ekran ayarlarında incelikli şekilde ayarlama yaparak renkleri yapaylaştırmadan görüntülerin gerçekten canlı ve cıvıl cıvıl olmasını sağlıyor. Manuel mod, renk sıcaklığı ayarını size bırakıyor ve böylece ekranı kendi tercihlerinize göre ayarlayabiliyorsunuz.
      </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <br /><h3>  Bir Deha Ürünü.</h3> <br />
        Camla kaplanmış hassas touchpad, akıllı telefonların dokunmatik ekranları için geliştirilmiş olan ve yüksek hassasiyete ve doğruluğa sahip özel teknolojiden yararlanıyor. Touchpad aynı zamanda hızlı, kolay ve güvenli oturum açmaya yönelik bir gelişmiş parmak izi sensörü de içeriyor. Tabii bu bir ZenBook olduğundan, elmasla kesilmişçesine köşeleri yuvarlatılmış çehresiyle hoş bir görünüme sahip.
      </div>
    <div class="col-md-4">
        <img src="~/resimler/lenovo3.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"><img src="~/resimler/lenovo6.png" /></div>
    <div class="col-md-5">
        <br /><h3>Muhteşem İdeal Renkler</h3> <br />
        Görüntüleri daima en iyi şekilde vermeyi amaçlayan ZenBook UX310, sahip olduğu ASUS Splendid teknolojisiyle daha zengin, daha derin ve daha doğru renkler sunuyor.

        ASUS Splendid, tek tıklamayla aktifleştirilebilen önceden ayarlanmış dört moda sahip: Normal mod, Göz Dostu modu, Canlı mod ve Manuel mod. Normal mod fabrika ayarlarını kullanmanızı sağlıyor. Göz Dostu modu rahat izleme olanağı yaratmak için mavi ışık düzeyini azaltıyor. Canlı modu ise ekran ayarlarında incelikli şekilde ayarlama yaparak renkleri yapaylaştırmadan görüntülerin gerçekten canlı ve cıvıl cıvıl olmasını sağlıyor. Manuel mod, renk sıcaklığı ayarını size bırakıyor ve böylece ekranı kendi tercihlerinize göre ayarlayabiliyorsunuz.
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <br /><h3>  Farklı Renk Tasarımları</h3> <br />
        Olağanüstü ses, her zaman ZenBook ailesinin bir özelliği olmuştur. ASUS Golden Ear ekibi ile Harman Kardon'un ortak geliştirdiği ASUS SonicMaster teknolojisi bir dizüstü bilgisayarda olabilecek en harika sesi yaratıyor. Üstün donanımla akıllıca tasarlanmış yazılımın özel birlikteliği, ZenBook UX310'da size muhteşem bir ses deneyimi sunuyor.
        </div>
    <div class="col-md-4">
        <img src="~/resimler/lenovo5.png" />
    </div>
</div>






