﻿
@{
    ViewBag.Title = @Resources.Content.Yeni_urunler;
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-3">
        <h5><b>Casper G7070 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/9.png" alt="mg1"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>Lenovo G7070 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/8.png" alt="mg2"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>Asus 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/7.png" alt="mg3"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <h5><b>Casper G7070  Notebook</b></h5>
        <p>
            <img src="~/resimler/4.png" alt="mg4"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>Acer 1235 Notebook</b></h5>
        <p>
            <img src="~/resimler/6.png" alt="mg5"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>Asus G7070 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/5.png" alt="mg6"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <h5><b>Lenovo Notebook</b></h5>
        <p>
            <img src="~/resimler/3.png" alt="mg7"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>MSI 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/1.png" alt="mg8"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
    <div class="col-md-3">
        <h5><b>Apple 80HW00CFTX Notebook</b></h5>
        <p>
            <img src="~/resimler/2.png" alt="mg9"><br>
            <b>Fiyatı :</b> 1.301.21 TL
        </p>
        <p><a class="btn btn-default" href=""><b>@Html.ActionLink(@Resources.Content.devam, "Ozellik", "Home") &raquo;</b></a></p>
    </div>
</div>